In [1]:
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
# csv to dataframe
df_buses_1=pd.read_csv("Kerala Bus details.csv")
df_buses_2=pd.read_csv("Andhra bus details")
df_buses_3=pd.read_csv("Telangana bus details")
df_buses_4=pd.read_csv("Rajasthan bus details")
df_buses_5=pd.read_csv("HP bus details")
df_buses_6=pd.read_csv("Assam bus details")
df_buses_7=pd.read_csv("UP bus details")
df_buses_8=pd.read_csv("WB bus details")
df_buses_9=pd.read_csv("Bihar bus details")
df_buses_10=pd.read_csv("Punjab bus details")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Unnamed: 0,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 850,24 Seats available,4.5\n548,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,1,SAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,INR 900,15 Seats available,4.3\n235,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,2,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 999,21 Seats available,4.1\n315,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,3,AdSuraj Holidays,VE A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 850,19 Seats available,3.9\n262,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,4,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,INR 799,37 Seats available,3.9\n347,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...,...
2116,223,IntrCity SmartBus,A/C Seater / Sleeper (2+1),22:15,06:50,08h 35m,INR 439,18 Seats available,4.6\n24,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2117,224,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),21:00,04:40,07h 40m,INR 529,31 Seats available,4.7\n20,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2118,225,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:20,06:10,06h 50m,INR 649,11 Seats available,4.9\n13,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2119,226,Golden Temple Express Volvo,Volvo Multi-Axle A/C Semi Sleeper (2+2),23:05,06:10,07h 05m,INR 699,24 Seats available,4.4\n17,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2120,227,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:30,06:45,08h 15m,INR 499,18 Seats available,4.5\n15,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara

In [3]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121 entries, 0 to 2120
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2121 non-null   int64
 1   Bus_name         1886 non-null   object
 2   Bus_type         1881 non-null   object
 3   Start_time       1886 non-null   object
 4   End_time         1886 non-null   object
 5   Total_duration   1886 non-null   object
 6   Price            1886 non-null   object
 7   Seats_Available  1885 non-null   object
 8   Ratings          1886 non-null   object
 9   Route_link       2121 non-null   object
 10  Route_name       2121 non-null   object
dtypes: int64(1), object(10)
memory usage: 182.4+ KB

In [4]:
Final_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 850,24 Seats available,4.5\n548,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,SAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,INR 900,15 Seats available,4.3\n235,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 999,21 Seats available,4.1\n315,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,AdSuraj Holidays,VE A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 850,19 Seats available,3.9\n262,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,INR 799,37 Seats available,3.9\n347,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2116,IntrCity SmartBus,A/C Seater / Sleeper (2+1),22:15,06:50,08h 35m,INR 439,18 Seats available,4.6\n24,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2117,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),21:00,04:40,07h 40m,INR 529,31 Seats available,4.7\n20,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2118,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:20,06:10,06h 50m,INR 649,11 Seats available,4.9\n13,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2119,Golden Temple Express Volvo,Volvo Multi-Axle A/C Semi Sleeper (2+2),23:05,06:10,07h 05m,INR 699,24 Seats available,4.4\n17,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2120,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:30,06:45,08h 15m,INR 499,18 Seats available,4.5\n15,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara

In [6]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121 entries, 0 to 2120
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1886 non-null   object
 1   Bus_type         1881 non-null   object
 2   Start_time       1886 non-null   object
 3   End_time         1886 non-null   object
 4   Total_duration   1886 non-null   object
 5   Price            1886 non-null   object
 6   Seats_Available  1885 non-null   object
 7   Ratings          1886 non-null   object
 8   Route_link       2121 non-null   object
 9   Route_name       2121 non-null   object
dtypes: object(10)
memory usage: 165.8+ KB

In [20]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)

In [21]:
Final_df["Price"].fillna(0,inplace=True)

In [22]:
Final_df["Price"]

0       850.0
1       900.0
2       999.0
3       850.0
4       799.0
        ...
2116    439.0
2117    529.0
2118    649.0
2119    699.0
2120    499.0
Name: Price, Length: 2121, dtype: float64

In [23]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

In [24]:
Final_df["Ratings"]

0       4.5
1       4.3
2       4.1
3       3.9
4       3.9
       ...
2116    4.6
2117    4.7
2118    4.9
2119    4.4
2120    4.5
Name: Ratings, Length: 2121, dtype: float64

In [25]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2121 entries, 0 to 2120
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         1886 non-null   object
 1   Bus_type         1881 non-null   object
 2   Start_time       1886 non-null   object
 3   End_time         1886 non-null   object
 4   Total_duration   1886 non-null   object
 5   Price            2121 non-null   float64
 6   Seats_Available  1885 non-null   object
 7   Ratings          2121 non-null   float64
 8   Route_link       2121 non-null   object
 9   Route_name       2121 non-null   object
dtypes: float64(2), object(8)
memory usage: 165.8+ KB

In [26]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [4]:
Final_df

,Unnamed: 0,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 850,24 Seats available,4.5\n548,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,1,SAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,INR 900,15 Seats available,4.3\n235,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,2,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 999,21 Seats available,4.1\n315,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,3,AdSuraj Holidays,VE A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 850,19 Seats available,3.9\n262,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,4,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,INR 799,37 Seats available,3.9\n347,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...,...
2116,223,IntrCity SmartBus,A/C Seater / Sleeper (2+1),22:15,06:50,08h 35m,INR 439,18 Seats available,4.6\n24,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2117,224,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),21:00,04:40,07h 40m,INR 529,31 Seats available,4.7\n20,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2118,225,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:20,06:10,06h 50m,INR 649,11 Seats available,4.9\n13,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2119,226,Golden Temple Express Volvo,Volvo Multi-Axle A/C Semi Sleeper (2+2),23:05,06:10,07h 05m,INR 699,24 Seats available,4.4\n17,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2120,227,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:30,06:45,08h 15m,INR 499,18 Seats available,4.5\n15,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara

In [28]:
df=Final_df.to_csv("Redbus_Final_details.csv")

In [1]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [29]:
import psycopg2

In [30]:
connection = psycopg2.connect(
            user="postgres",  # Replace with your PostgreSQL username
            password="Mugi2004",  # Replace with your PostgreSQL password
            port="5432",  # Replace with your PostgreSQL port
            database="postgres"  # Replace with your PostgreSQL database name
        )
cursor = connection.cursor()

In [31]:
bus_df = pd.DataFrame(Final_df)

In [7]:
Final_df

,Unnamed: 0,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,INR 850,24 Seats available,4.5\n548,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,1,SAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,INR 900,15 Seats available,4.3\n235,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,2,DLT BUS,A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 999,21 Seats available,4.1\n315,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,3,AdSuraj Holidays,VE A/C Sleeper (2+1),22:30,07:30,09h 00m,INR 850,19 Seats available,3.9\n262,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,4,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,INR 799,37 Seats available,3.9\n347,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...,...
2116,223,IntrCity SmartBus,A/C Seater / Sleeper (2+1),22:15,06:50,08h 35m,INR 439,18 Seats available,4.6\n24,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2117,224,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),21:00,04:40,07h 40m,INR 529,31 Seats available,4.7\n20,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2118,225,IntrCity SmartBus,A/C Seater / Sleeper (2+1),23:20,06:10,06h 50m,INR 649,11 Seats available,4.9\n13,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2119,226,Golden Temple Express Volvo,Volvo Multi-Axle A/C Semi Sleeper (2+2),23:05,06:10,07h 05m,INR 699,24 Seats available,4.4\n17,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara
2120,227,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),22:30,06:45,08h 15m,INR 499,18 Seats available,4.5\n15,https://www.redbus.in/bus-tickets/delhi-airpor...,Delhi Airport to Phagwara

In [55]:
def insert_data_into_postgresql(data):
    try:
        # Connect to PostgreSQL
        connection = psycopg2.connect(
            user="postgres",  # Replace with your PostgreSQL username
            password="Mugi2004",  # Replace with your PostgreSQL password
            port="5432",  # Replace with your PostgreSQL port
            database="postgres"  # Replace with your PostgreSQL database name
        )
        cursor = connection.cursor()        
        
        # Insert data into PostgreSQL table
        for index, row in data.iterrows():
            insert_query = """
            INSERT INTO bus_details (Bus_name, Bus_type, Start_time, End_time, Total_duration, Price, Seats_available,Ratings,Route_links,Route_name)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
            """
            record_to_insert = (
                str(row['Bus_name']) if row['Bus_name'] else None,  # Handle None properly
                str(row['Bus_type']) if row['Bus_type'] else None,
                str(row['Start_time']) if row['Start_time'] else None,
                str(row['End_time']) if row['End_time'] else None,
                str(row['Total_duration']) if row['Total_duration'] else None,
                str(row['Price']) if row['Price'] else None,
                str(row['Seats_Available']) if row['Seats_Available'] else None,
                str(row['Ratings']) if row['Ratings'] is not None else None,  # Ensure Ratings is a float
                str(row['Route_link']) if row['Route_link'] else None,
                str(row['Route_name']) if row['Route_name'] else None)
            cursor.execute(insert_query, record_to_insert)
        
        # Commit the transaction
        connection.commit()
        print("Data successfully inserted into PostgreSQL")
    
    except (Exception, psycopg2.Error) as error:
        print(f"Failed to insert data into PostgreSQL: {error}")
    
    finally:
        # Close connection
        if connection:
            cursor.close()
            connection.close()

# Call the function to insert data into PostgreSQL
insert_data_into_postgresql(bus_df)

Data successfully inserted into PostgreSQL